/* Global styles */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 20px; /* Adding margin to the whole page */
    padding: 0;
}

header {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #8a2be2;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.details {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.form {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1, h2 {
    color: #8a2be2;
    text-align: center;
    margin-bottom: 20px;
}

label, span {
    color: #8a2be2;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #8a2be2;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border: 1px solid #fff;
}

input[type="submit"] {
    background-color: #8a2be2;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #4b0082;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

span {
    font-weight: bold;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: #fff;
}

input[type="radio"] + label {
    margin-right: 20px;
}

input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 10px;
}
